@import "./base.css";

#app {
  width: 90vw;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.banner {
  font-size: 50px;
  text-align: center;
  margin: 1rem auto 4rem;
}

.deck {
  columns: 5 200px;
  column-gap: 1rem;
}

@media screen and (width < 1500px) {
  .deck {
    columns: 4 200px;
  }
}

@media screen and (width < 1300px) {
  .deck {
    columns: 3 200px;
  }
}

@media screen and (width < 950px) {
  .deck {
    columns: 2 200px;
  }
}

.card {
  width: 150px;
  margin: 0 1rem 1rem 0;
  display: inline-block;
  width: 100%;
  border: solid 1px var(--color-border);
  box-shadow: 2px 2px 2px var(--color-border-hover);
  border-radius: 10px;
  padding: 1rem;
  position: relative;
  transition: all .3s ease; 
  cursor: pointer;
} 

.card:hover {
  border-color: var(--color-border-hover);
  box-shadow: 7px 7px 2px var(--color-border-hover);
  transform: translate(-5px, -5px);
}


.card .title {
  text-align: center;
  color: var(--color-heading);
  border-bottom: solid var(--color-border);
  margin: 1rem auto;
  padding: 1rem 0;
  width: 85%;
  transition: all .3s ease;
}

.card:hover .title {
  transform: scale(1.1);
}

.card .author {
  text-align: right;
}
